body{
    background-position: center;


    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1920px;
    height: 350px;

    background-color: rgb(39, 42, 87);
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 650px;
    height: 250px;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1920px;
    height: 850px;
}

section .estado{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 400px; 
}

section .estado .titulo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px; 
}

footer{
    width: 19200px;
    height: 350px;

    background-color: rgb(39, 42, 87);
}