@font-face {
    font-family: Bitter;
    src:url(../fuentes/Bitter-VariableFont_wght.ttf)
}

body{
    background-position: center;


    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1920px;
    height: 350px;

    background-color: rgb(39, 42, 87);
}
header .logo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 650px;
    height: 250px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 1920px;
    height: 850px;

    background-color: whitesmoke;
}

section .permisos{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 400px; 

    background-color: rgb(136, 98, 196);
    color: whitesmoke;
    font-size: 50px;
}

section .permisos .titulo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px; 

    color: whitesmoke;
    font-size: 50px;
    font-family: Bitter;
}

footer{
    width: 19200px;
    height: 350px;

    background-color: rgb(39, 42, 87);
}